.row.header.pl-3.pr-2.py-2.justify-content-md-between.no-gutters {
}
/* div.row.footer.no-gutters.align-items-center>div.col>div.btn-group>button:last-child{
    visibility: hidden;
  } */
div.nstyles-body>div>p, div.mt-4.px-3.magic-section, div.mt-5.px-3.pt-4.magic-section {
  visibility: hidden;
  display: none;
}
